@charset "UTF-8";

.c-button {
  display: inline-block;
  width: 100%;
  font-size: clamp(16 / 16 * 1rem, 0.962rem + 0.19vw, 18 / 16 * 1rem);
  font-weight: 700;
  line-height: 1;
  color: var(--color-text);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  cursor: pointer;
  border-radius: pxtorem(50px);
  box-shadow: 0 10px 0 var(--color-button);
  transition: 0.28s var(--ease-in-sine);
  transition-property: transform, box-shadow;
  transform: translateY(0);
}

.c-button:hover {
  box-shadow: 0 6px 0 var(--color-button);
  transition: 0.28s var(--ease-in-sine);
  transition-property: transform, box-shadow;
  transform: translateY(3px);
}

.c-button.-hero {
  max-width: pxtorem(300px);
  padding: calc(20 / 18 * 1em) pxtorem(20px);
  color: var(--color-text);
  background: linear-gradient(var(--button-gradient-hero));

  @media (--md) {
    padding: calc(24 / 18 * 1em) pxtorem(103px);
  }
}

.c-button.-about {
  max-width: pxtorem(230px);
  padding: calc(24 / 18 * 1em) pxtorem(20px);
  margin: auto;
  text-align: center;
  background: linear-gradient(var(--button-gradient-about));
}

.c-button.-registor {
  max-width: pxtorem(300px);
  padding: calc(24 / 18 * 1em) pxtorem(20px);
  color: var(--color-text);
  appearance: none;
  background: linear-gradient(var(--button-gradient-registor));
  background-color: transparent;
  border: 0;
}

.c-button.-toTop {
  position: relative;
  width: pxtorem(50px);
  height: pxtorem(50px);
  background: linear-gradient(135deg, #c41a7f 0%, #664bbf 100%);
  border-radius: 50%;
  box-shadow: initial;

  @media (--md) {
    width: pxtorem(64px);
    height: pxtorem(64px);
  }

  @media (--lg) {
    width: pxtorem(80px);
    height: pxtorem(80px);
  }
}

.c-button.-toTop::before {
  position: absolute;
  inset: 0;
  width: 16px;
  height: 8px;
  margin: auto;
  clip-path: polygon(50% 0%, 0% 8px, 16px 8px);
  content: "";
  background-color: var(--color-text);

  @media (--md) {
    width: 18px;
    height: 10px;
    clip-path: polygon(50% 0%, 0% 10px, 18px 10px);
  }

  @media (--lg) {
    width: 20px;
    height: 12px;
    clip-path: polygon(50% 0%, 0% 12px, 20px 12px);
  }
}

.c-button.-toTop::after {
  position: absolute;
  inset: 7px 0 0;
  z-index: 1;
  width: 16px;
  height: 8px;
  margin: auto;
  clip-path: polygon(50% 0%, 0% 8px, 16px 8px);
  content: "";
  background: linear-gradient(135deg, #c41a7f 0%, #664bbf 100%);

  @media (--md) {
    width: 18px;
    height: 10px;
    clip-path: polygon(50% 0%, 0% 10px, 18px 10px);
  }

  @media (--lg) {
    inset: 9px 0 0;
    width: 20px;
    height: 12px;
    clip-path: polygon(50% 0%, 0% 12px, 20px 12px);
  }
}
