@charset "UTF-8";

.p-hamburger {
  --size: 24px;

  position: relative;
  width: var(--size);
  height: var(--size);
  appearance: none;
  background-color: transparent;
  border: 0;

  @media (--md) {
    display: none;
  }
}

.p-hamburger__line {
  position: absolute;
  z-index: 2;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-text);
  transition: var(--duration-fast) var(--ease-in-out);
  transition-property: background-color;
}

.p-hamburger__line::before,
.p-hamburger__line::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: inherit;
  transition: var(--duration-fast) var(--ease-in-out);
  transition-property: top, transform, background-color;
}

.p-hamburger__line::before {
  top: 8px;
}

.p-hamburger__line::after {
  top: -8px;
}

.is-drawerActive .p-hamburger__line {
  background-color: transparent;
}

.is-drawerActive .p-hamburger__line::before,
.is-drawerActive .p-hamburger__line::after {
  top: 0;
  transition: var(--duration-fast) var(--ease-in-out);
  transition-property: top, transform, background-color;
}

.is-drawerActive .p-hamburger__line::before {
  background-color: var(--color-text);
  transform: rotate(-45deg);
}

.is-drawerActive .p-hamburger__line::after {
  background-color: var(--color-text);
  transform: rotate(45deg);
}
