@charset "UTF-8";

.p-footer__bg {
  padding-block: pxtorem(70px);
  background-color: var(--color-main);
}

.p-footer__button {
  position: fixed;
  right: 5%;
  bottom: 5.6%;
  margin: auto 0;
  visibility: hidden;
  opacity: 0;
  transition: var(--duration-fast) var(--ease-in-sine);
  transition-property: opacity, visibility;

  @media (--md) {
    right: 3%;
  }

  &.is-fadeIn {
    visibility: visible;
    opacity: 1;
  }
}

.p-footer__copyRight {
  color: var(--color-text);
  text-align: center;

  small {
    font-size: clamp(15 / 16 * 1rem, 0.918rem + 0.1vw, 15 / 16 * 1rem);
  }
}
