@charset "UTF-8";

.p-registor__bg {
  padding-block: clamp(80 / 16 * 1rem, 4.426rem + 2.87vw, 110 / 16 * 1rem);
  background-image: url("/assets/img/registor_bg.png");
  background-repeat: repeat;
}

.p-registor__form {
  padding-block: clamp(50 / 16 * 1rem, 2.36rem + 3.82vw, 90 / 16 * 1rem) clamp(40 / 16 * 1rem, 1.735rem + 3.82vw, 80 / 16 * 1rem);
  margin-block-start: clamp(32 / 16 * 1rem, 1.465rem + 2.68vw, 60 / 16 * 1rem);
  background-color: var(--bg-registor);
  border: 5px solid var(--color-accent);
  border-radius: pxtorem(20px);
}

.p-registor__form__inner {
  display: flex;
  flex-direction: column;
  gap: clamp(15 / 16 * 1rem, 0.651rem + 1.43vw, 30 / 16 * 1rem);
  padding-inline: 5%;

  @media (--lg) {
    max-width: 780px;
    padding-inline: 0;
    margin: auto;
  }
}

.p-registor__form__options {
  border: none;
}

.p-registor__form__choices {
  display: flex;
  flex-direction: column;
  gap: pxtorem(5px);

  @media (--md) {
    flex-direction: initial;
    gap: pxtorem(35px);
    align-items: center;
  }
}

.p-registor__form__items {
  display: flex;
  flex-direction: column;
  gap: pxtorem(10px);
  color: var(--color-text);
  letter-spacing: 0.05em;
}

.p-registor__form__option {
  label {
    font-size: clamp(15 / 16 * 1rem, 0.918rem + 0.1vw, 16 / 16 * 1rem);
  }
}

.p-registor__form__text {
  display: block;
  margin-inline-start: pxtorem(5px);
}

.p-registor__form__name {
  font-size: pxtorem(16px);
  font-weight: 700;
  line-height: 1.125;
}

.p-registor__form__name .-sm {
  display: inline-block;
  margin-inline-start: pxtorem(8px);
  font-size: pxtorem(12px);
  line-height: 1;
  color: var(--color-text);
}

.p-registor__form__name .-required {
  color: var(--color-accent);
}

.p-registor__form__textField {
  width: 100%;
  padding: pxtorem(8px);
  border: 1px solid var(--color-form-border);
  border-radius: pxtorem(6px);
}

.p-registor__form__textField.-name,
.p-registor__form__textField.-email,
.p-registor__form__textField.-selectBox {
  max-width: pxtorem(300px);
}

.p-registor__form__textField.-tel {
  max-width: pxtorem(200px);
}

.p-registor__form__textField.-message {
  max-width: pxtorem(600px);
  min-height: 200px;
}

.p-registor__form__textField.-selectBox {
  color: var(--color-text-registor);
}

.p-registor__button {
  margin: 0 pxtorem(8px);
  margin-block-start: clamp(40 / 16 * 1rem, 2.216rem + 1.42vw, 50 / 16 * 1rem); /* 320-1024 */
  text-align: center;
}
