@charset "UTF-8";

.p-global-nav {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  padding-block: pxtorem(140px);
  visibility: hidden;
  background-color: var(--color-main);
  transition: var(--duration-fast) var(--ease-out-sine);
  transition-property: translate visibility;
  translate: 100% 0;

  @media (--md) {
    position: static;
    display: flex;
    gap: pxtorem(20px);
    align-items: center;
    height: auto;
    padding: 0;
    visibility: visible;
    background-color: transparent;
    transition: none;
    translate: initial;
  }
}

.is-drawerActive .p-global-nav {
  visibility: visible;
  transition: var(--duration-fast) var(--ease-out-sine);
  transition-property: translate, visibility;
  translate: 0 0;
}

.is-resize .p-global-nav {
  transition: none;
}
