@charset "UTF-8";

.p-speaker__bg {
  padding-block: clamp(80 / 16 * 1rem, 4.426rem + 2.87vw, 110 / 16 * 1rem);
  background: linear-gradient(var(--button-gradient-speaker));
}

.p-speaker__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-block-start: clamp(32 / 16 * 1rem, 1.465rem + 2.68vw, 60 / 16 * 1rem);

  @media (--md) {
    flex-direction: initial;
    column-gap: clamp(40 / 16 * 1rem, 2.118rem + 1.91vw, 60 / 16 * 1rem);
  }
}

.p-speaker__items + .p-speaker__items {
  padding-block-start: clamp(64 / 16 * 1rem, 3.694rem + 1.53vw, 80 / 16 * 1rem);
}

.p-speaker__items:nth-of-type(2n) {
  flex-direction: column;

  @media (--md) {
    flex-direction: row-reverse;
  }
}

.p-speaker__texts {
  width: 100%;
  padding-block-start: pxtorem(24px);

  @media (--md) {
    width: 60%;
    padding-block-start: 0;
  }

  @media (--lg) {
    width: calc(605 / 1110 * 100%);
  }
}

.p-speaker__name {
  font-size: clamp(28 / 16 * 1rem, 1.482rem + 1.34vw, 42 / 16 * 1rem);
  font-weight: 700;
  line-height: 1;
  color: var(--color-accent);
  letter-spacing: 0.05em;
}

.p-speaker__name .-jp {
  display: block;
  padding-block-start: pxtorem(10px);
  font-size: clamp(16 / 16 * 1rem, 0.962rem + 0.19vw, 18 / 16 * 1rem);
  color: var(--color-text);
}

.p-speaker__sentence {
  padding-block-start: clamp(24 / 16 * 1rem, 1.194rem + 1.53vw, 40 / 16 * 1rem);
  font-size: clamp(15 / 16 * 1rem, 0.918rem + 0.1vw, 16 / 16 * 1rem);
  line-height: 1.8;
  color: var(--color-text);
  letter-spacing: 0.05em;
}

.p-speaker__img {
  position: relative;
  order: -2;
  width: 100%;
  overflow: hidden;

  @media (--md) {
    order: initial;
    width: 40%;
    aspect-ratio: 445 / 460;
  }

  img {
    opacity: 0;
  }
}

.js-speaker__img.is-show {
  > img {
    animation: img-opacity 1s ease 0.6s forwards;
  }
}

.p-speaker__img::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  content: "";
  background-color: var(--color-hover);
}

.js-speaker__img.is-show::after {
  animation:
    fromLeftStart 0.5s var(--ease-in-out2) forwards,
    fromLeftend 0.5s var(--ease-in-out3) 0.5s forwards;
}

@keyframes fromLeftStart {
  0% {
    top: 0;
    left: 0;
    width: 0%;
  }

  100% {
    top: 0;
    left: 0;
    width: 100%;
  }
}

@keyframes fromLeftend {
  0% {
    top: 0;
    right: 0;
    left: auto;
    width: 100%;
  }

  100% {
    top: 0;
    right: 0;
    left: auto;
    width: 0%;
  }
}

@keyframes img-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
